@import '@/styles/modules/density';

@mixin test {
  border: 2px solid #f00;
}

@mixin modify-focus($border-add, $f-offset) {
  &:focus {
    &::before {
      top: -$f-offset;
      bottom: -$f-offset;
      left: -$f-offset;
      right: -$f-offset;
      border-radius: $border-add + $f-offset;
    }
  }
}