<md-content flex="70" style="max-width:1200px; height:100%;" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex>{{:: 'ui.playmodes.campaigns' | translate}}</span>

      <label style="margin-right: 10px;"><md-icon class="material-icons" style="margin-right: 5px;">sort</md-icon>{{:: 'ui.common.sortBy' | translate}}</label>
      <md-select style="background: rgba(0,0,0,0); color: white; position: relative; top: -2px;" aria-label="_" ng-model="selectedOrder">
        <md-option md-no-ink ng-repeat="order in ::tilesOrder" value="{{ ::order.key }}">{{order.label | translate}}</md-option>
      </md-select>

    </div>
  </md-toolbar>

  <div flex layout-padding style="overflow-y: auto" bng-nav-scroll>
    <md-grid-list
          md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3"
          md-row-height-gt-md="16:9" md-row-height="16:9"
          md-gutter="4px" md-gutter-gt-sm="4px"
          class="gridMarkSelected">
      <md-grid-tile ng-repeat="campaign in filtered"
                      ng-class="(campaign === selected) ? 'selectedGridItem' : ''"
                      style="overflow: visible;"
                      bng-all-clicks-no-nav single="selectCampaign(campaign)"
                      double="startCampaign(campaign)"
                      bng-sound-class="bng_click_hover_generic"
                      >
        <imageslider imageurls="campaign.previews" style="height: 100%; width: 100%"></imageslider>

        <md-grid-tile-footer>
          <div layout="row" layout-align="start center" class="md-padding">
            <div ng-if=":: campaign.official"  layout="row" layout-align="center center">
              <img src="/ui/images/beamng_logo_50x50.png" height="22px" style="-webkit-filter: brightness(0) invert(1);" />
              <md-tooltip md-direction="top">
                {{:: 'ui.common.official' | translate}}
              </md-tooltip>
            </div>
            <div flex>
              <h3>{{campaign.title | translate}}</h3>
            </div>
            <md-icon ng-if="::campaign.maxPlayers > 1" class="material-icons" style="color:white; font-size: 1.5em; margin: 5px;">filter_{{::campaign.maxPlayers}}</md-icon>
          </div>
        </md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile style="overflow: hidden;" mdx-paint-bg="accent" ng-click="app.openRepo()">
        <span class="material-icons" style="font-size: 2rem; color: white; ">add_to_photos</span>
        <md-grid-tile-footer>
          <h3>{{:: 'ui.common.downloadMore' | translate}}</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</md-content>

<md-content flex="30" layout="column" style="max-width: 400px; height: 100%">
  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <h2 flex style="text-align: center;">{{selected.title | translate}}</h2>
    </div>
  </md-toolbar>

  <div layout="row" layout-align="center center" style="z-index: var(--zorder_campaignselect_search);" class="md-whiteframe-z1">
    <md-input-container flex style="margin-left: 16px;">
      <label><md-icon class="material-icons">search</md-icon>{{:: 'ui.common.search' | translate}}</label>
      <input ng-model="query" ng-model-options="{debounce: 100}" ng-change="levels.updateList(query)">
    </md-input-container>
    <md-button md-no-ink class="md-icon-button md-warn" ng-click="query = ''; levels.updateList(query)" ng-disabled="!query">
      <md-icon class="material-icons">close</md-icon>
    </md-button>
  </div>

  <img ng-src="{{selected.preview}}" style="width: 100%;">
  <p layout-padding bng-translate="{{selected.description}}"></p>
  <md-divider></md-divider>

  <div flex class="md-padding" style="overflow: auto">
    <md-list>
      <md-list-item ng-show="selected.maxPlayers > 1" class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">people</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.common.property.multiseatPlayers' | translate}}</h3>
          <p>{{:: "ui.campaign.from" | translate}} {{selected.minPlayers}} {{:: "ui.campaign.upto" | translate}} {{ selected.maxPlayers }} {{:: "ui.campaign.localPlayers" | translate}}
          <md-icon class="material-icons" style="cursor: pointer; font-size: 1em">help<md-tooltip md-direction="left">{{:: "ui.campaign.requiresOneController" | translate}}</md-tooltip></md-icon>
          </p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
         <md-icon class="material-icons" style="font-size: 2em">flag</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.common.property.difficulty' | translate}}</h3>
          <p>{{ difText(selected.difficulty) || 'Unknown' | translate}}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
         <md-icon class="material-icons" style="font-size: 2em">account_circle</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.common.property.authors' | translate}}</h3>
          <p>{{ selected.authors || 'Unknown' }}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">event</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.common.property.createdAt' | translate}}</h3>
          <p>{{ selected.date * 1000 | formattedDate}}</p>
        </div>
      </md-list-item>

    </md-list>
  </div>

  <div layout="row" class="md-padding">
    <button layout-fill bng-sound-class="bng_click_generic" class="md-button md-primary md-raised" ng-click="startCampaign(selected)" ng-show="selected"><b>{{:: 'ui.common.action.play' | translate}}</b></button>
  </div>
</md-content>
