<!-- Imageslider in this menu is slightly faster -->
<style>
  .levelSelectImageSlider .imageslideItem {
    transition: 0.25s linear opacity;
  }

  .levelSelectImageSlider .imageslideItem.ng-hide-add, .imageslideItem.ng-hide-remove {
    transition: 0.25s linear opacity;
  }

  md-grid-list md-grid-tile md-grid-tile-footer {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5));
  }
  md-grid-list md-grid-tile md-grid-tile-footer figcaption {
    text-shadow: rgba(0,0,0,0.25) 0 0.25em 1em;
  }
</style>

<md-content flex="70" style="max-width:1200px; height:100%;" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex>{{:: 'ui.quickrace.quickraceLevels' | translate}}</span>
    </div>
  </md-toolbar>

  <div flex layout-padding style="overflow-y: auto" bng-nav-scroll>
    <md-grid-list
          md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3"
          md-row-height-gt-md="16:9" md-row-height="16:9"
          md-gutter="4px" md-gutter-gt-sm="4px"
          class="gridMarkSelected">
      <md-grid-tile ng-repeat="level in filtered track by $index"
                      ng-class="(level === selected) ? 'selectedGridItem' : ''"
                      style="overflow: visible;"
                      bng-all-clicks-no-nav single="startLevel(level, app.gameState, true)"
                      double="startLevel(selected, app.gameState, true)"
                      bng-sound-class="bng_click_hover_generic">

      <img ng-src="{{ level.previews[0] }}" style="width: 100%; height: 100%; object-fit: cover;">

        <md-grid-tile-footer>
          <div layout="row" layout-align="start center" class="md-padding">
            <div ng-if=":: level.official" layout="row" layout-align="center center">
              <img src="/ui/images/beamng_logo_50x50.png" height="22px" style="-webkit-filter: brightness(0) invert(1);" />
              <md-tooltip md-direction="top">
                Official
              </md-tooltip>
            </div>
            <div flex>
              <h3>{{level.levelInfo.title | translate}}</h3>
            </div>
          </div>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</md-content>

<md-content flex="30" ng-show="selected" layout="column" style="max-width: 400px; height: 100%">
  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <h2 flex style="text-align: center;">{{selected.levelInfo.title | translate}}</h2>
    </div>
  </md-toolbar>

  <div ng-show="selected" class="levelSelectImageSlider">
    <imageslider delay="1500" style="width: 400px; height: 225px;" imageurls="selected.previews"></imageslider>
  </div>

 <div flex layout-padding style="overflow:auto">
    <md-list>
      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">gesture</md-icon>
        <div class="md-list-item-text">
          <h3>Tracks</h3>
          <p>{{selected.trackCount | translate}}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">settings_overscan</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.size' | translate}}</h3>
          <p>{{ selected.levelInfo.size[0] }} m x {{ selected.levelInfo.size[1] }} m</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">landscape</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.biome' | translate}}</h3>
          <p>{{selected.levelInfo.biome | translate}}</p>
        </div>
      </md-list-item>


      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">directions_car</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.roads' | translate}}</h3>
          <p>{{selected.levelInfo.roads | translate}}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">flag</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.suitablefor' | translate}}</h3>
          <p>{{selected.levelInfo.suitablefor | translate}}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">message</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.features' | translate}}</h3>
          <p>{{selected.levelInfo.features | translate}}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">people</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.authors' | translate}}</h3>
          <p>{{selected.levelInfo.authors | translate}}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>

  <div layout="row" class="md-padding">
    <button layout-fill bng-sound-class="bng_click_generic" class="md-button md-primary md-raised" ng-click="startLevel(selected, app.gameState, false)"><b>{{:: 'ui.quickrace.select' | translate}}</b></button>
  </div>
</md-content>