<md-content class="md-padding controls-hardware">
  <div ng-repeat="(devName, ctrl) in controls.data.controllers" style="padding-top: 0px;" class="md-padding">
    <div layout="row" layout-align="start center" style="padding: 0px; margin:0px">
      <span class="material-icons">{{ controlsHw.utils.deviceIcon(devName) }}</span> <span style="margin-left:8px" class="md-title"> {{ ctrl.productName }}</span><span class="md-padding" style="color: grey;">({{ ctrl.name }}, {{ ctrl.vidpid }}, player #{{ controls.data.players[devName]+1 }})</span>
    </div>

    <div ng-show="ctrl.notes" layout="row" class="md-caption md-whiteframe-z1 md-padding" style="padding: 0px; margin:0px">
      <span layout="column" style="padding-right:8px; white-space: pre-line;">{{::'ui.controls.notes' | translate}}</span>
      <span bng-translate="{{ctrl.notes}}"></span>
    </div>

    <center ng-if="ctrl.name.slice(0,3) == 'key'" class="md-padding" style="padding: 0px; margin:0px; min-height:40px; font-size: 120%;">
      <hardware-key-control device="{{ ::ctrl.name }}"></hardware-key-control>
    </center>

    <div ng-if="::ctrl.name.slice(0, 3) != 'key'" style="padding: 0px; margin:0px" layout layout-wrap class="md-padding">
      <hardware-control ng-repeat="(key, c) in ::ctrl.controls" device="{{ ctrl.name }}" name="{{ key }}" flex="10" style="padding: 3px 3px 3px 3px">
      </hardware-control>
    </div>
  </div>

  <div class="md-padding">
    <div layout="row" layout-align="start center">
      <span class="material-icons">phone_android</span> <span style="margin-left:8px" class="md-title"> {{:: 'ui.controls.remotControlApp' | translate }}</span>
    </div>
        <md-list>
          <md-list-item md-no-ink>
            <span flex>{{:: 'ui.controls.usePhoneOrTablet' | translate}}</span>
            <md-checkbox ng-model="controlsHw.showAndroid" ng-change="controlsHw.androidToggled()" aria-label="_" bng-sound-class="bng_checkbox_generic"></md-checkbox>
          </md-list-item>

        <md-list-item ng-if="controlsHw.showAndroid && controlsHw.remoteBlocked" layout="row">
          <md-icon style="font-size:32px; height:32px; margin-right: 24px;">security</md-icon>
          <div>{{:: 'ui.controls.firewallError' | translate}}</div>
        </md-list-item>

        <md-list-item ng-if="controlsHw.showAndroid" layout="row" ng-init="controlsHw.generateQrCode()">
          <div layout="column" layout-align="space-between start" style="padding-right: 10px; height: 300px;" flex>
            <div style="text-align: justify;">
              {{:: 'ui.controls.iosAppUnavailable' | translate}}
            </div>
          </div>
          <div layout="column" ng-if="0" layout-align="space-between start" style="padding-right: 10px; height: 300px;" flex>
            <div style="text-align: justify;">
              {{:: 'ui.controls.iosQRCode' | translate}}
            </div>
            <div style="width: 180px; height: 180px;border: 8px SOLID white;" id="QRremoteiOS">
            </div>
            <a href="http-external://itunes.apple.com/ca/app/beamng.drive-remote-control/id1163096150" aria-label="IOS App Store link" style="height: 70px; padding: 12px 0px 0px 12px;">
              <object data="/ui/modules/options/app-store-badge.svg" type="image/svg+xml" aria-label="ios store badge" style="height: calc(100% - 14px); width: auto; pointer-events: none;"></object>
            </a>
          </div>
          <div layout="column" layout-align="space-between start" style="padding-left: 10px; height: 300px;" flex>
            <div style="text-align: justify;">
              {{:: 'ui.controls.androidQRCode' | translate}}
            </div>
            <div style="width: 180px; height: 180px;border: 8px SOLID white;" id="QRremoteAndroid">
            </div>
            <a href="http-external://play.google.com/store/apps/details?id=com.beamng.remotecontrol" aria-label="google play store link" style="height: 70px;">
              <img src="/ui/modules/options/google-play-badge.png" aria-label="google play badge" style="height: 100%; width: auto;">
            </a>
          </div>
        </md-list-item>

        </md-list>
      </div>
    </md-tab>
  </md-tabs>
</md-content>
