.app .RaceTimeComparison {
    text-align:center;
    vertical-align:middle;
}

@font-face {
    font-family: Squada One;
    src: url(/ui/common/SquadaOne-Regular.ttf) format(truetype);
}

.app .RaceTimeComparison .TextDiv {
    color: white;
    font-size:20pt;
    height:20px;
    font-family: Squada One;
}
