<div style="height:100%; width:100%; overflow: auto;"  class="bngApp md-padding">
  <style>
  .warning {
    background-color:#aaaa55;
    color:#444411;
  }
  .error {
    background-color: #ff5555;
    color:#440000;
  }
  </style>

  <label layout="row" layout-align="start center">
    <span flex style="margin-right: 10px">{{:: 'ui.apps.advanced_wheels_debug.wheels' | translate}}</span>
      <div flex="10" ng-repeat="w in wheels">
        {{w}}
      </div>
    <!--<md-select flex="20" ng-model="displayWheel1">
      <md-option ng-repeat="w in wheels" ng-value="w">{{ ::w }}</md-option>
    </md-select>
    <md-select flex="20" ng-model="displayWheel2">
      <md-option ng-repeat="w in wheels | orderBy:'-toString()'" ng-value="w">{{ ::w }}</md-option>
    </md-select>-->
  </label>
  <hr>


  <div ng-repeat="set in data" layout="row">
    <div flex>{{set.name}}</div>
    <div flex="20" ng-class="{'warning': set.warn1, 'error': set.error1}">
      {{set.str1}}
    </div>
    <div flex="20" ng-class="{'warning': set.warn2, 'error': set.error2}">
      {{set.str2}}
    </div>
  </div>
</div>
