<md-content flex="70" style="max-width:1200px; height:100%;" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex>{{:: 'ui.busRoute.routeSelect' | translate}}</span>
    </div>
  </md-toolbar>

  <div flex layout-padding style="overflow-y: auto" bng-nav-scroll>
    <md-grid-list
          md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3"
          md-row-height-gt-md="16:9" md-row-height="16:9"
          md-gutter="4px" md-gutter-gt-sm="4px"
          class="gridMarkSelected">
      <md-grid-tile ng-repeat="route in filtered"
                      ng-class="(route === selected) ? 'selectedGridItem' : ''"
                      style="overflow: hidden;"
                      bng-all-clicks-no-nav single="selectRoute(route, app.gameState)" double="startRoute(route, app.gameState, true)"
                      bng-sound-class="bng_click_hover_generic"
                      >
        <imageslider imageurls="route.previews" style="height: 100%; width: 100%"></imageslider>

        <md-grid-tile-footer>
          <div layout="row" layout-align="start center" class="md-padding">
            <div ng-if=":: route.official"  layout="row" layout-align="center center">
              <img src="/ui/images/beamng_logo_50x50.png" height="22px" style="-webkit-filter: brightness(0) invert(1);" />
              <md-tooltip md-direction="top">
                Official
              </md-tooltip>
            </div>
            <div flex>
              <h3>{{route.name | translate}}</h3>
            </div>
            <md-icon ng-if="::route.maxPlayers > 1" class="material-icons" style="color:white; font-size: 1.5em; margin: 5px;">filter_{{::route.maxPlayers}}</md-icon>
          </div>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</md-content>

<md-content flex="30" ng-show="selected" layout="column" style="max-width: 400px; height: 100%">
  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <span flex>{{selected.name | translate}}</span>
    </div>
  </md-toolbar>

  <img ng-src="{{selected.previews[0]}}" style="width: 100%;">
  <!-- <p layout-padding>{{selected.description | translate}}</p> -->
  <md-divider></md-divider>

  <div flex class="md-padding" style="overflow: auto">
    <md-list>
      <md-list-item class="md-2-line">
         <md-icon class="material-icons" style="font-size: 2em">account_circle</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.common.property.authors' | translate}}</h3>
          <p>{{ selected.authors || 'Unknown' }}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">event</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.common.property.createdAt' | translate}}</h3>
          <p>{{ selected.date * 1000 | date: 'dd MMMM yyyy' }}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">account_circle</md-icon>
       <div class="md-list-item-text">
         <h3>{{:: 'ui.busRoute.stopCount' | translate}}</h3>
         <p>{{ selected.stopCount || 'Unknown' }}</p>
       </div>
     </md-list-item>
    </md-list>
  </div>

  <div layout="row" class="md-padding">
    <button layout-fill bng-sound-class="bng_click_generic" class="md-button md-primary md-raised" ng-click="startRoute(selected, app.gameState, false)"><b>{{:: 'ui.quickrace.select' | translate}}</b></button>
  </div>
</md-content>