<md-content flex="70" style="max-width:1200px; height:100%;" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex>{{:: 'ui.quickrace.quickraceLevels' | translate}}</span>
    </div>
  </md-toolbar>

  <div flex layout-padding style="overflow-y: auto">
    <md-grid-list
          md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3"
          md-row-height-gt-md="16:9" md-row-height="16:9"
          md-gutter="4px" md-gutter-gt-sm="4px"
          class="gridMarkSelected">
      <md-grid-tile ng-repeat="level in filtered"
                      ng-class="(level === selected) ? 'selectedGridItem' : ''"
                      style="overflow: visible;"
                      bng-all-clicks-no-nav single="selectLevel(level, app.gameState, false)" double="startLevel(selected, app.gameState, true)"
                      bng-sound-class="bng_click_hover_generic">

        <imageslider imageurls="level.previews" style="height: 100%; width: 100%"></imageslider>

        <md-grid-tile-footer>
          <div layout="row" layout-align="start center" class="md-padding">
            <div ng-if=":: level.official" layout="row" layout-align="center center">
              <img src="/ui/images/beamng_logo_50x50.png" height="22px" style="-webkit-filter: brightness(0) invert(1);" />
              <md-tooltip md-direction="top">
                Official
              </md-tooltip>
            </div>
            <div flex>
              <h3>{{level.levelInfo.title | translate}}</h3>
            </div>
          </div>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</md-content>

<md-content flex="30" ng-show="selected" layout="column" style="max-width: 400px; height: 100%">
  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <span flex>{{selected.levelInfo.title | translate}}</span>
    </div>
  </md-toolbar>

  <img ng-src="{{selected.preview}}" style="width: 100%;">
  <p layout-padding>{{selected.levelInfo.title | translate}}</p>
  <md-divider></md-divider>

 <div flex layout-padding style="overflow:auto">
    <md-list>
      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">gesture</md-icon>
        <div class="md-list-item-text">
          <h3>Tracks</h3>
          <p>{{selected.trackCount | translate}}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">settings_overscan</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.size' | translate}}</h3>
          <p>{{ selected.levelInfo.size[0] }} m x {{ selected.levelInfo.size[1] }} m</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">landscape</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.biome' | translate}}</h3>
          <p>{{selected.levelInfo.biome | translate}}</p>
        </div>
      </md-list-item>


      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">directions_car</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.roads' | translate}}</h3>
          <p>{{selected.levelInfo.roads | translate}}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">flag</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.suitablefor' | translate}}</h3>
          <p>{{selected.levelInfo.suitablefor | translate}}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">message</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.features' | translate}}</h3>
          <p>{{selected.levelInfo.features | translate}}</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line">
        <md-icon class="material-icons" style="font-size: 2em">people</md-icon>
        <div class="md-list-item-text">
          <h3>{{:: 'ui.levelselect.authors' | translate}}</h3>
          <p>{{selected.levelInfo.authors | translate}}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>

  <div layout="row" class="md-padding">
    <button layout-fill class="md-button md-primary md-raised" ng-click="startLevel(selected, app.gameState, false)"><b>{{:: 'ui.quickrace.select' | translate}}</b></button>
  </div>
</md-content>