<md-content ng-if="app.gameState !== 'garage'" class="md-padding" style="height:100%; overflow:overlay; box-sizing:border-box" layout="row" layout-wrap layout-align="space-around start">
  <div ng-repeat="c in vehConf_color.color track by $index" style="width: 48%">
    <ng-color ng-model="c" ng-change="vehConf_color.updateColor($index, c)" presets-editable="true" show-preview="false" pre-col="{{ vehConf_color.carColorPresets }}" paint-number="{{$index + 1}}"></ng-color>
  </div>
  <div ng-if="::vehConf_color.color.length % 2 === 1" style="width: 48%"></div>
</md-content>

<md-content ng-if="app.gameState === 'garage'" style="height:100%; overflow:overlay; box-sizing:border-box" layout="column" layout-wrap layout-align="start stretch">
  <md-tabs md-selected="0" style="flex: 1 1 auto; width: 100%; display: flex; flex-direction: column;">
    <md-tab
      ng-repeat="c in vehConf_color.color track by $index"
      ng-value="$index"
      ng-model="selectorIndex"
      tabindex="0"
      layout="column">
      <md-tab-label>{{:: 'ui.trackBuilder.matEditor.paint' | translate}} {{ $index + 1 }}</md-tab-label>
      <md-tab-content class="md-padding" style="position: relative; flex: 1 1 auto;">
        <div style="width: 100%">
          <ng-color ng-model="vehConf_color.color[$index]" ng-change="vehConf_color.updateColor($index, vehConf_color.color[$index])" presets-editable="true" show-preview="false" pre-col="{{ vehConf_color.carColorPresets }}" paint-number="{{$index + 1}}"></ng-color>
        </div>
      </md-tab-content>
    </md-tab>
  </md-tabs>
</md-content>