<md-content layout="column" flex>
  <div flex style="overflow:auto">
    <div layout="row" layout-align="start start">
      <img style="margin-right: 8px; max-width:20%; height:auto;" onError="src='/ui/images/modIcon.jpg'" ng-src="{{ repoDetailCtrl.modData.icon }}">
      <div>
        <div style="font-size:1.3em;margin:0;font-weight:bold;">
          <span style="margin-right: 5px; padding:0px 4px;background:#F80" ng-if="repoDetailCtrl.modData.prefix_title!=''">{{ ::repoDetailCtrl.modData.prefix_title }}</span>
          {{ ::repoDetailCtrl.modData.title }}
        </div>
        <div flex style="font-size:1em;margin:0;">{{ ::repoDetailCtrl.modData.tag_line }}</div>
      </div>
    </div>
  </div>

  <md-divider style="margin-top:10px;margin-bottom:10px;"></md-divider>

  <style>
    .repodetailtable td {
      padding: 5px;
    }
  </style>
  <div>
    <table class="repodetailtable">
      <!--<tr><td>{{:: 'ui.repository.tagid' | translate}}: </td><td>{{ repoDetailCtrl.modData.tagid }}</td></tr>-->
      <tr>
        <td>{{:: 'ui.repository.author' | translate}}: </td>
        <td><a ng-click="openAuthor(repoDetailCtrl.modData.username)" href="">{{ repoDetailCtrl.modData.username }}</a></td>
      </tr>
      <tr>
        <td>{{:: 'ui.repository.filesize' | translate}}: </td>
        <td>{{ repoDetailCtrl.modData.filesize | bytes }}</td>
      </tr>
      <tr>
        <td>{{:: 'ui.repository.version_id' | translate}}: </td>
        <td>{{ repoDetailCtrl.modData.version_string }}</td>
      </tr>
      <tr>
        <td>{{:: 'ui.repository.download_count' | translate}}: </td>
        <td>{{ repoDetailCtrl.modData.download_count }}</td>
      </tr>
      <tr>
        <td>{{:: 'ui.repository.last_updated' | translate}}: </td>
        <td>{{ repoDetailCtrl.modData.last_update | date:'yyyy-MM-dd HH:mm' }}</td>
      </tr>
      <tr>
        <td>{{:: 'ui.repository.rating' | translate}}: </td>
        <td>
          <jk-rating-stars max-rating="5" rating="repoDetailCtrl.modData.rating_avg" read-only="true"></jk-rating-stars>
        </td>
      </tr>
      <tr>
        <td>{{:: 'ui.repository.category' | translate}}: </td>
        <td><a ng-click="openCat(repoDetailCtrl.modData.category_title)" href="">{{ repoDetailCtrl.modData.category_title }}</a></td>
      </tr>
      <tr ng-if="repoDetailCtrl.modData.discussion_thread_id != 1" ><td colspan="2"><a ng-click="openDiscussion()" href="" style="text-transform: none;">{{:: 'ui.modmanager.openForumDiscussion' | translate}}</a></td></tr>
    </table>
  </div>

  <md-divider style="margin-top:10px;margin-bottom:10px;"></md-divider>

  <div ng-if="!repoDetailCtrl.modData.unpacked" ng-switch on="repoDetailCtrl.modData.subscribed" layout="row">
    <div layout="column" flex ng-switch-when="true">
      <div layout="row" flex class="md-padding" style="color:#50c250;font-weight:bold;">
        <md-icon class="material-icons" style="margin-right:15px;">check_circle</md-icon>
        <div flex>{{:: 'ui.repository.subscribed' | translate}}</div>
      </div>
      <md-button flex ng-disabled="repoDetailCtrl.modData.downState === 'working'" class="md-primary md-hue-1 md-raised" ng-click="modUnsubscribe(repoDetailCtrl.modData)"
        style="text-transform: none;">{{:: 'ui.repository.unsubscribe' | translate}}</md-button>
    </div>
    <div layout="row" flex ng-switch-default>
      <md-button flex ng-show="!repoDetailCtrl.localData" ng-disabled="repoDetailCtrl.modData.prefix_title === 'Outdated' || repoDetailCtrl.modData.prefix_title === 'Unsupported'"
        class="md-raised md-accent" ng-click="modSubscribe(repoDetailCtrl.modData)" style="text-transform: none;">
        <b>{{:: 'ui.repository.subscribe' | translate}}</b>
      </md-button>
      <md-button flex ng-show="repoDetailCtrl.localData" ng-disabled="repoDetailCtrl.modData.downState === 'working'" class="md-primary md-hue-1 md-raised" ng-click="modUnsubscribe(repoDetailCtrl.modData)"
        style="text-transform: none;">{{:: 'ui.repository.unsubscribe' | translate}}</md-button>
    </div>
  </div>

  <div layout="row" ng-show="repoDetailCtrl.modData.unpacked">{{:: 'ui.repository.modUnpacked' | translate}}</div>

  <div layout="column" ng-show="repoDetailCtrl.localData">
    <md-button flex ng-show="repoDetailCtrl.localData && !repoDetailCtrl.localData.packed" class="md-primary md-hue-1 md-raised" ng-click="repoDetailCtrl.togglePacked()"
      style="text-transform: none;">{{:: 'ui.modmanager.pack' | translate}}</md-button>
    <md-button flex ng-show="repoDetailCtrl.localData.packed" class="md-primary md-hue-1 md-raised" ng-click="repoDetailCtrl.togglePacked()" style="text-transform: none;">{{:: 'ui.modmanager.unpack' | translate}}</md-button>
    <md-button flex ng-show="repoDetailCtrl.localData.active && !repoDetailCtrl.localData.packed" class="md-primary md-hue-1 md-raised" ng-click="repoDetailCtrl.openInExplorer()"
      style="text-transform: none;">{{:: 'ui.modmanager.openInExplorer' | translate}}</b>
    </md-button>
    <!--<md-button flex ui-sref="menu.mods.local" ng-show="repoDetailCtrl.localData" ng-disabled="!repoDetailCtrl.localData.packed" class="md-raised md-warn" ng-click="repoDetailCtrl.deleteMod()" style="text-transform: none;"><b>Delete</b></md-button>-->
    <md-button flex ng-show="repoDetailCtrl.localData.active !== undefined" class="md-primary md-hue-1 md-raised" ng-click="toggleActivation()" style="text-transform: none;">{{'ui.modmanager.' + (repoDetailCtrl.localData.active ? 'deactivate' : 'activate') | translate}}</md-button>
  </div>

  <md-divider style="margin-top:10px;margin-bottom:10px;"></md-divider>

  <div ng-switch="repoDetailCtrl.modData.downState">
      <div ng-switch-when="updating" style="cursor: default;" ng-if="repoDetailCtrl.modData.pending">
        <div style="margin-bottom: 5%">
          <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <md-tooltip md-direction="left">{{:: 'ui.repository.modQueued' | translate}}</md-tooltip>
        {{:: 'ui.repository.modQueued' | translate}}
      </div>

      <div ng-switch-when="working" layout-align="end end" ng-if="repoDetailCtrl.modData.dl.progress > 0">
        <div flex>
          <md-progress-linear md-mode="determinate" value="{{repoDetailCtrl.modData.dl.progress}}"></md-progress-linear>
        </div>
        <div style="margin-top: 5%">
          {{repoDetailCtrl.modData.dl.progress}}% {{ repoDetailCtrl.modData.dl.dlnow | bytes}} / {{ repoDetailCtrl.modData.dl.dltotal
          | bytes}} @ {{ repoDetailCtrl.modData.dl.dlspeed | bytes}}/s
        </div>
      </div>
    </div>

</md-content>